* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-style: normal;
  font-family: cursive;
  width: 100%;
  height: 200vh;
  font-style: 18px;
}
.sticky {
  background-color: blue;
  position: sticky;
  top: 0;
  padding: 0.3em;
}
.sticky h2 {
  margin-left: 1.5rem;
  color: white;
}
.sticky span {
  color: yellow;
}
.main-content {
  margin: 0;
  padding: 1em;
  position: static;
  background-color: red;
  color: white;
}
.container {
  position: static;
  margin: 0;
  padding: 1em;
}
.container .right {
  position: static;
  text-align: end;
  color: yellow;
}
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    font-size: 14px;
  }
}
